<!--
    This HTML file creates the format for the order form that's emailed to the on file email when tracking number is verified
-->

<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
       <title> Email Shipping Info Page </title>
       <!--<link rel="stylesheet" href="">-->
    </head>
        <div class="topNav">
        <div class="topNav_name">
            <b>ABSOLUTE MEDIA</b> INC.
        </div>
    <body>
        <header> 
            <h1> Tracking Information </h1>
            <table> 
                <tr>
                    <th>Provider</th>
                    <th>Tracking Number</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>USPS</td>
                    <td>9999 9999 9999 9999</td>
                    <td>2 May 2021</td>
                </tr>
            </table>

            <h2> Order # </h2>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>CD</td>
                    <td>100</td>
                    <td>$25.00</td>
                </tr>
            </table>
            
            <table>
                <tr>
                    <td>Subtotal: </td>
                    <td>Shipping: </td>
                    <td>Payment Method: </td>
                    <td>Total: </td>
                </tr>
                <tr>
                    <td>$25.00</td>
                    <td>$4.00 via Media Mail</td>
                    <td>Visa Debit</td>
                    <td>$29.00</td>
                </tr>
                
            </table>

            <h3>Billing Address</h3>
            <table>
                <tr>
                    <td>Jane Eyre</td>
                    <td>123 Example Street</td>
                    <td>Sacramento CA 95833</td>
                </tr>
            </table>

            <h4>Shipping Address</h4>
            <table>
                <tr>
                    <td>Jane Eyre</td>
                    <td>123 Example Street</td>
                    <td>Sacramento CA 95833</td>
                </tr>
            </table>

            <p>Thanks for doing business with us.</p>
            
        </header>
    </body>

</html>