<html>

<head>

<title>Sample Project Page</title>

</head>


<body>

<center><h1>Absolute Media Inventory System Upgrade</h1></center>

<hr>
<p><!--Change the Team name and Team Members here -->
	<h3>
	Team Name: Nuoc Mamis
	<br>
	Team Members: Vanessa Lee, Harish Kandaswamy, Charlie Vue, Daisy Le, Dominic Nance, Chon wa Lam, Caitlin Phomsopha, Stephanie Lopez
	<br>
	Client: Lynne Koropp / Absolute Media Inc.
	<br>
	Advisor: Professor Salem
	</h3>
				  
</p>

<h3>Background</h3>
<p><!-- Change the description of the project strting from here -->
<dl>
      <dt>Client</dt>
      <dd>- Lynne Koropp, Technical Liaison for Absolute Media Inc.</dd>
      
      <br>
      
      <dt>Client's Business</dt>
      <dd>- Absolute Media Inc. (AMI) is a privately-owned media planning and buying company specializing in maximizing the return of our clients valuable advertising funds.</dd>
      
      <br>
      
      <dt>Client's Problem to be Solved</dt>
      <dd>- Our Client wants a new inventory system that replaces their current one. That reimplements current protocols of their old system (tracking orders of products and issuing packing slips).</dd>
    </dl>

</p>

<h3>Scope</h3>
<p><!-- Change the description of the project strting from here -->
	The goal of this project is to replace the outdated database with a new system that can be run on modern technology and to be able to access the system with ease.
</p>

<h3>Proposed Solution</h3>
<p><!-- Change the description of the project strting from here -->
	Our proposed solution for our client is to create a new inventory tracking system from scratch. We decided on doing this rather than continuing to build off original system because the original system is extremely outdated and runs on ancient hardware and software. Windows XP in 2021 is unacceptable! Our solution can solve our client’s problem because it brings their system up to speed with modern technology and makes it more convenient. With this new application, they will be able to do their work on modern browsers and operating systems and not worry about maintaining old hardware. The new system will have an updated user interface and follow more modern design trends.<br> 

</p>

<h3>Highlights</h3>
<p><!-- Change the description of the project strting from here -->
	Compared to Absolute Media Inc.'s current webpage and database system, our product is meant to be a much more clean and polished version of what they currently have.
Our project is special to us because it's designed to be a much more efficient system for Absolute Media such as making processes like tracking companies, issue
packing slips, and input integration much easier and clean. By comparison to what
Absolute Media currently has, the new webpage/database system is much more innovative.<br><br>

Our solution, while it's functionality is primarily based on their current system, 
shares some resemblance of other platforms such as Discord and Slack in terms of it's user interface. It shares some qualities such that it looks clean, colors contrast well, and it's easy to find things. Given the functionality of the webpage/database system and the new user interface makes our project unique to other company platforms.<br>
</p>

<h3>Prototypes</h3>
<p><!-- Change the description of the project strting from here -->
	Showcase your high-fidelity prototype, with screenshots, embedded link to prototype, and/or video demo, etc.<br> 
	<br>
</p>
<p>Our UI redesigns for the User Control Panel
</p>
<img src="https://gitlab.com/nuocmamis/seniorproject/-/raw/main/Images/prototypeui.PNG">

<p>Here we have our code for running a basic HTML Website that is built for our client, Absolute Media Services. This HTML Site contains our basic UI that has our email and password creation for the employees and can be used to find a unique ID that is associated with said email. 
</p>
	<img src="https://gitlab.com/nuocmamis/seniorproject/-/raw/main/Images/code2.PNG">
<p> Here is what the UI currently looks like.
</p>	
	<img src="https://gitlab.com/nuocmamis/seniorproject/-/raw/main/Images/proto3.png">
<p> Examples of what Users can input into our UI.
</p>	
	<img src="https://gitlab.com/nuocmamis/seniorproject/-/raw/main/Images/proto2.png">
<p> Next, we have our database code that is working together with our UI. It accepts the UI input and transfers it into code that is then stored into our database. Once the user inputs email and password, it is stored in the database with a unique ID. 
</p>	
	<img src="https://gitlab.com/nuocmamis/seniorproject/-/raw/main/Images/code.PNG">
<p> Lastly, we do a unique ID search that is shown when the User inputs the correct email stored in the database. 
</p>	
	<img src="https://gitlab.com/nuocmamis/seniorproject/-/raw/main/Images/proto1.png">

<h3>Timeline</h3>
<p><!-- Change the description of the project strting from here -->
	Give a projected timeline.<br> 
	You will update this timeline periodically in CSC191.<br>

</p>

<p>
	<b>SEPTEMBER 2021 : TEAM FORMED </b>

	<p>
	Nuoc Mamis team was formed and client has been found.
	</p>

</p>
<p>

	<b> OCTOBER 2021 : SPRINT 00 PROJECT CHARTER DOCUMENT </b>
</p>
<p>

	With guidance of the senior project advisor and the collaborative efforts of the team, the project charter document was completed. The document was able to be sent to the client for review where they gave helpful hints for the team to review the document before submitting for final submission.
</p>
<p>

	<b> OCTOBER 2021 : SPRINT 01 BETTER UNDERSTANDING OF PRODUCT EXPECTATIONS </b>
</p>
<p>

	The team met with the client in weekly meetings to go over a business event table and a context model in order to better understand the client's vision of the final product. 
</p>
<p>

	<b> NOVEMBER 2021 : SPRINT 02 FIRST DESIGN PROTOTYPE </b>
</p>
<p>

	A first draft prototype for the design of what the product could look like was formed and shown to the client for critique. Team began to meet with the lab advisor.
</p>
<p>

	<b> NOVEMBER 2021 : SPRINT 03 FINAL PROTOTYPE AND TECH STACK </b>
</p>
<p>

	With comments from the client regarding the prototype, the team began using those comments to finalize the prototype. As different languages were discussed amongst the team, the team narrowed down the choices of which they will use. The team members met with the lab advisor and client to discuss the tech stack they will be using for the final product implementation.
</p>
<p>

	<b> DECEMBER 2021 : SPRINT 04 USER STORIES AND PROJECT WEBSITE </b>
</p>
<p>

	The team began working on user stories for each special feature of the product in order to better organize how to get started on coding. The client gave helpful comments regarding adding more details into each user story so that the coding part comes easier. The team began working on finalizing the first half of the project website.
</p>

<h3>Tech Stack</h3>
    <dt>Front-end (Client)</dt>
    <dd>- HTML, CSS, JS</dd>
    <dd>- Bootstrap</dd>
    <br>
    <dt>Back-end (Server)</dt>
    <dd>- REST API: Python Flask</dd>
    <dd>- Database: MySQL</dd>
    <br>
    <dt>IDEs, Tools</dt>
    <dd>- VSCode</dd>
    <dd>- Pycharm, Webstorm</dd>
    <dd>- MySQL Workbench</dd>
</dl>
 

<hr>
<body>
