<!DOCTYPE html>

<html>
    <div>
<table style="margin: auto; box-shadow: 3px 3px 10px #000;" border="1">
<tbody>
<tr>
<th>Ord ID</th>
<th>CUS ID</th>
<th>Ord Status</th>
<th>CUS PN</th>
<th>Title</th>
<th>ABS Prod ID</th>
<th>Prod Cat</th>
<th>Cus Ord Qty</th>
<th>Mfg By</th>
<th>Req Ship Date</th>
<th>Req Ship Via</th>
<th>Shrk</th>
<th>ReOr</th>
<th>Repl</th>
<th>Encl</th>
<th>GMst</th>
<th>Art</th>
<th>OutE</th>
<th>Ellm</th>
<th>Prnt</th>
<th>Dupe</th>
<th>CuMt</th>
<th>AsM</th>
<th>QC</th>
<th>Ship</th>
<th>Order Notes</th>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
<tr>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
<td>Sample</td>
</tr>
</tbody>
</table>
<p>"Sample" will be replaced with actual data pulled from database once it is created and connected. Rows can also be created dynamically if necessary.</p>
</div>
</html>